# Public
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Energy IQ
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_CALLBACK_URL=

# Server-only
API_BASE_URL=https://api.service.com
API_SECRET=super-secret-token